* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  /* размеры макета */
  width: 1440px;
  height: 4710px;
  /* цвет фона */
  background-color: #f5f5f5;
}

div {
    width: 1440px;
    position: relative; 
    overflow: hidden;
}

/* первая страница */
.pattern {
  display: block;
  margin-top: 0px;
  margin-left: 0px;
}

.pattern1 {
  display: block;
  margin-top: 0px;
  margin-left: 0px;
}

.first {
  display: block;
  color: #df3838;
  font-family: prata;
  font-size: 130px;
  font-weight: 100;
  margin-top: 130px;
  margin-left: 50px;
}

.second {
  display: block;
  color: #df3838;
  font-family: prata;
  font-size: 110px;
  font-weight: 100;
  margin-top: -70px;
  margin-left: 220px;
}

.macaroni {
  display: block;
  font-family: prata;
  margin-top: -160px;
  margin-left: 25px;
}

.minifirst {
  display: block;
  color: #df3838;
  font-family: prata;
  font-size: 30px;
  font-weight: 100;
  margin-top: -40px;
  margin-left: 51px;
}

.gg {
  display: block;
  margin-top: 100px;
  margin-left: 80px;
}

.pasta {
  display: block;
  margin-top: -800px;
  margin-left: 700px;
}

/* вторая страница */
.pattern2 {
  display: block;
  margin-top: 0px;
  margin-left: 1430px;
}

.fork {
  display: block;
  margin-top: 50px;
  margin-left: 0px;
}

.tablecloth {
  display: block;
  margin-top: -550px;
  margin-left: 600px;
}

.third {
  display: block;
  font-family: prata;
  color: #f5f5f5;
  font-size: 34px;
  font-weight: 100;
  margin-top: -400px;
  margin-left: 700px;
}

/* третья страница */
.four {
  display: block;
  font-family: prata;
  color: #df3838;
  font-size: 60px;
  font-weight: 100;
  margin-top: 210px;
  margin-left: 58px;
}

.glyph {
  display: block;
  margin-left: auto;
}

.pattern3 {
  display: block;
  margin-top: -70px;
}

/* четвертая страница */
.type {
  display: block;
  margin-top: 15px;
  margin-left: 500px;
}

.pasts1 {
  display: block;
  margin-top: -310px;
  margin-left: 70px;
}

.pasts2 {
  display: block;
  margin-top: -740px;
  margin-left: 450px;
}

.leng {
  display: block;
  margin-top: -670px;
  margin-left: 895px;
}

/* пятая страница */
.pattern4 {
  display: block;
  margin-top: 0px;
  margin-left: 1430px;
}

.pattern5 {
  display: block;
  margin-top: 0px;
  margin-left: 1430px;
}

.eat {
  display: block;
  margin-top: -130px;
  margin-left: 270px;
}

.cooking {
  display: block;
  margin-top: 70px;
  margin-left: 120px;
}

.eat1 {
  display: block;
  font-family: prata;
  color: #df3838;
  font-size: 24px;
  font-weight: 100;
  margin-top: 50px;
  margin-left: 100px;
}

.eat2 {
  display: block;
  font-family: prata;
  color: #df3838;
  font-size: 24px;
  font-weight: 100;
  margin-top: -165px;
  margin-left: 460px;
}

.eat3 {
  display: block;
  font-family: prata;
  color: #df3838;
  font-size: 24px;
  font-weight: 100;
  margin-top: -103px;
  margin-left: 780px;
}

.eat4 {
  display: block;
  font-family: prata;
  color: #df3838;
  font-size: 24px;
  font-weight: 100;
  margin-top: -135px;
  margin-left: 1120px;
}

/* шестая страница */
.pattern6 {
  display: block;
  margin-top: 160px;
  margin-left: 0px;
}

.bon {
  display: block;
  width: 1520px;
  margin-top: -20px;
  margin-left: 0px;
}



